@{
    ViewData["Title"] = "Professores";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success col-10">
        @TempData["MensagemSucesso"]
    </div>
    TempData["EditarSucesso"] = null;

}

else if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger col-10">
        @TempData["MensagemErro"]
    </div>
    TempData["EditarSucesso"] = null;
}


@if (TempData["EditarSucesso"] != null)
{
    <div class="alert-success">
        @TempData["EditarSucesso"]
    </div>
    TempData["EditarSucesso"] = null;
}

@if (TempData["EditarErro"] != null)
{
    <div class="alert-danger">
        @TempData["EditarErro"]
    </div>
    TempData["EditarSucesso"] = null;

}

@model List<ProfessorModel>

<div class="text-left">
    <div>
        <h1>Dados dos professores</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">CEP</th>
                <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (ProfessorModel professor in Model)
                {
                    <tr>
                        <td>@professor.Nome</td>
                        <td>@professor.Idade</td>
                        <td>@professor.Contato</td>
                        <td>@professor.Email</td>
                        <td>@professor.Cep</td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <a class="btn btn-secondary" type="submit" asp-controller="Professores" asp-action="BuscarEndereco" asp-route-cep="@professor.Cep">Endereço</a>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                <a class="btn btn-primary" type="submit" asp-controller="Professores" asp-action="Editar" asp-route-id="@professor.Id">Editar</a>
                            </div>
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-danger" type="button" asp-controller="Professores" asp-action="RemoverProfessor" asp-route-id="@professor.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <a asp-controller="Professores" asp-action="Adicionar" class="btn btn-primary">Adicionar novo professor</a>
    </div>

</div>